<div class="login-container">
  <div class="login-box">
    <div class="p-3">
      <img class="logo" alt="logo" src="../../../assets/he.png" />
    </div>
    <h1>File Tracking System</h1>
    <div>
      <h6 class="d-inline-block">v{{ version }}</h6>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading">Username or password incorrect.</div>
            <div class="m-3">
              <label class="d-block my-3 md-form">
                <input
                  mdbInput
                  type="text"
                  class="form-control"
                  formControlName="username"
                  autocomplete="username"
                  [placeholder]="'Username'"
                />
                <span hidden>Username</span>
                <small
                  [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                  class="text-danger"
                >
                  Username is required
                </small>
              </label>
              <label class="d-block mb-3 md-form">
                <input
                  mdbInput
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password'"
                  required
                />
                <span hidden>Password</span>
                <small
                  [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                  class="text-danger"
                >
                  Password is required
                </small>
              </label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" formControlName="remember" />
                  <span>Remember me</span>
                </label>
              </div>
            </div>
            <div class="m-3">
              <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span>Login</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
