<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-title> Activity Log Filter </mat-card-title>
                <div class="row">
                  <div class="col-12">
                    <p>
                      <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Option 1</mat-radio-button>
                        <mat-radio-button value="2">Option 2</mat-radio-button>
                      </mat-radio-group>
                    </p>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-8">
          <mat-card>
            <mat-card-title> Activity Log </mat-card-title>
            <div class="cardlistitem">
              <mat-card-content>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-4">
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                  </div>
                  <div class="col-4">
                    <sub>Tuesday, September 28, 2021 1:00pm</sub>
                  </div>
                  <div class="col-2">
                    <sub>by username</sub>
                  </div>
                  <div class="col-1"></div>
                </div>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
