<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-title> Add New File </mat-card-title>
                <div class="row">
                  <div class="col-4">
                    <div class="row">
                      <div class="col-12"><h4>&nbsp;</h4></div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Client Name</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Client Alternate Name</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Matter Name</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12"><h4>Client Address</h4></div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Address 1</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Address 2</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>City</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline">
                          <mat-label>State</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let state of usstates" [value]="state.value">
                              {{ state.viewValue }}
                            </mat-option>
                          </mat-select>
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline">
                          <mat-label>Zip</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12"><h4>Client Contact Information</h4></div>
                      <div class="col-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Cell</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12"><h4>Billing Contact Information</h4></div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Billing Attention</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Cell</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Client SS/Federal ID Number</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="row">
                      <div class="col-12"><h4>Central Files Information</h4></div>
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Client</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Client Alternate Name</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Matter Name</mat-label>
                          <input matInput placeholder="" />
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-4"></div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
