/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

h1 {
  color: #335974;
}
h4 {
  margin: 1.2rem 0 0rem !important;
}

.row:not(.no-gutters) {
  margin-right: -$grid-gutter-width / 8;
  margin-left: -$grid-gutter-width / 8;
}
.row:not(.no-gutters) > .col,
.row:not(.no-gutters) > [class*="col-"] {
  padding-right: $grid-gutter-width / 8;
  padding-left: $grid-gutter-width / 8;
}

.container {
  max-width: initial !important;
}

.mat-card {
  text-align: left;
  border-radius: 0.1rem !important;
  margin-bottom: 1rem;
}
.cardlistitem {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 0.7rem;
}
.mat-form-field {
  float: left;
  width: 100%;
}
.mat-form-field .mat-hint {
  display: none;
}
.mat-form-field:hover .mat-hint {
  display: block;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 11%), 0px 1px 7px 1px rgb(0 0 0 / 9%) !important;
}

#maintitle {
  float: left;
  font-weight: bold;
  font-size: 1.1rem;
}
