<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-title> Search Existing Files </mat-card-title>
                <div class="row">
                  <div class="col-8">
                    <h4>&nbsp;</h4>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Search Criteria</mat-label>
                        <input matInput placeholder="" />
                        <mat-hint>Enter File Number, Account Number, or Matter Number</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>
                  <div class="col-2">
                    <h4>Date Range</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>From Date</mat-label>
                      <input matInput placeholder="" />
                      <mat-hint>Enter Date</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <h4>&nbsp;</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>To Date</mat-label>
                      <input matInput placeholder="" />
                      <mat-hint>Enter Date</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="rightsearchbuttons mt-3">
                  <button mat-button>Clear</button>
                  <button mat-stroked-button color="primary">Search</button>
                </div>
              </mat-card>
            </div>

            <div class="col-6">
              <mat-card>
                <mat-card-title> Add New File </mat-card-title>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Outline form field</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Outline form field</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Outline form field</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                    <h4>Client Address</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>Outline form field</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-6">
              <mat-card>
                <mat-card-title> Reports </mat-card-title>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-8">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-4">
                      <button mat-stroked-button color="primary">Run Report</button>
                    </div>
                  </div>
                </div>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-8">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-4">
                      <button mat-stroked-button color="primary">Run Report</button>
                    </div>
                  </div>
                </div>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-8">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-4">
                      <button mat-stroked-button color="primary">Run Report</button>
                    </div>
                  </div>
                </div>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-8">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-4">
                      <button mat-stroked-button color="primary">Run Report</button>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-4">
          <mat-card>
            <mat-card-title> Activity Log </mat-card-title>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-1">
                  <div class="listicon">
                    <img src="../../assets/add.svg" alt="added item" />
                  </div>
                </div>
                <div class="col-8">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-1">
                  <div class="listicon">
                    <img src="../../assets/add.svg" alt="added item" />
                  </div>
                </div>
                <div class="col-8">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-1">
                  <div class="listicon">
                    <img src="../../assets/add.svg" alt="added item" />
                  </div>
                </div>
                <div class="col-8">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-1">
                  <div class="listicon">
                    <img src="../../assets/add.svg" alt="added item" />
                  </div>
                </div>
                <div class="col-8">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-1">
                  <div class="listicon">
                    <img src="../../assets/add.svg" alt="added item" />
                  </div>
                </div>
                <div class="col-8">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-1">
                  <div class="listicon">
                    <img src="../../assets/add.svg" alt="added item" />
                  </div>
                </div>
                <div class="col-8">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
