<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-title> Search Existing Files </mat-card-title>
                <div class="row">
                  <div class="col-8">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>
                  <div class="col-4">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="col-6">
              <mat-card>
                <mat-card-title> Add New File </mat-card-title>
                <div class="row">
                  <div class="col-12">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder" />
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-6">
              <mat-card>
                <mat-card-title> Reports </mat-card-title>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-9">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-9">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-9">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>
                <div class="cardlistitem">
                  <div class="row">
                    <div class="col-9">
                      <mat-card-content>
                        <h5>Conflict Check</h5>
                        <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                        <sub>
                          Last run on<br />
                          Tuesday, September 28, 2021 1:00pm by username
                        </sub>
                      </mat-card-content>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-4">
          <mat-card>
            <mat-card-title> Activity Log </mat-card-title>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-9">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-9">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-9">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            <div class="cardlistitem">
              <div class="row">
                <div class="col-9">
                  <mat-card-content>
                    <h5>New File Added</h5>
                    <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                    <sub>
                      New File Added on<br />
                      Tuesday, September 28, 2021 1:00pm by username
                    </sub>
                  </mat-card-content>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
