<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-title> Search Existing Files </mat-card-title>
                <div class="row">
                  <div class="col-8">
                    <h4>&nbsp;</h4>
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Search Criteria</mat-label>
                        <input matInput placeholder="" />
                        <mat-hint>Enter File Number, Account Number, or Matter Number</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>
                  <div class="col-2">
                    <h4>Date Range</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>From Date</mat-label>
                      <input matInput placeholder="" />
                      <mat-hint>Enter Date</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <h4>&nbsp;</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>To Date</mat-label>
                      <input matInput placeholder="" />
                      <mat-hint>Enter Date</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="rightsearchbuttons mt-3">
                  <button mat-button>Clear</button>
                  <button mat-stroked-button color="primary">Search</button>
                </div>
              </mat-card>
            </div>

            <div class="col-6">
              <mat-card>
                <mat-card-title> Add New File </mat-card-title>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Client Name</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Client Name</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Client Alternate Name</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Client Alternate Name</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Matter Name</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Matter Name</mat-hint>
                    </mat-form-field>
                  </div>

                  <h4>Client Address</h4>
                  <div class="col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Address 1</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Address 1</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Address 2</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Address 2</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline">
                      <mat-label>City</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter City</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>State</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let state of usstates" [value]="state.value">
                          {{ state.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint>Select State</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Zip</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Zip</mat-hint>
                    </mat-form-field>
                  </div>

                  <h4>Client Contact Information</h4>
                  <div class="col-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Phone</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Phone</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Cell</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Cell</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Fax</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Fax</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Placeholder" />
                      <mat-hint>Enter Email</mat-hint>
                    </mat-form-field>
                  </div>
                  <button mat-stroked-button color="primary">Continue Adding New File ></button>
                </div>
              </mat-card>
            </div>
            <div class="col-6">
              <mat-card>
                <mat-card-title> Reports </mat-card-title>
                <div>
                  <div class="cardlistitem">
                    <div class="row">
                      <div class="col-8">
                        <mat-card-content>
                          <h3>Conflict Check</h3>
                          <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                          <sub>
                            Last run on<br />
                            Tuesday, September 28, 2021 1:00pm by username
                          </sub>
                        </mat-card-content>
                      </div>
                      <div class="col-4">
                        <button mat-stroked-button color="primary">Run Report</button>
                      </div>
                    </div>
                  </div>
                  <div class="cardlistitem">
                    <div class="row">
                      <div class="col-8">
                        <mat-card-content>
                          <h3>Conflict Check</h3>
                          <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                          <sub>
                            Last run on<br />
                            Tuesday, September 28, 2021 1:00pm by username
                          </sub>
                        </mat-card-content>
                      </div>
                      <div class="col-4">
                        <button mat-stroked-button color="primary">Run Report</button>
                      </div>
                    </div>
                  </div>
                  <div class="cardlistitem">
                    <div class="row">
                      <div class="col-8">
                        <mat-card-content>
                          <h3>Conflict Check</h3>
                          <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                          <sub>
                            Last run on<br />
                            Tuesday, September 28, 2021 1:00pm by username
                          </sub>
                        </mat-card-content>
                      </div>
                      <div class="col-4">
                        <button mat-stroked-button color="primary">Run Report</button>
                      </div>
                    </div>
                  </div>
                  <div class="cardlistitem">
                    <div class="row">
                      <div class="col-8">
                        <mat-card-content>
                          <h3>Conflict Check</h3>
                          <p>Report 1 Description Lorem Ipsum Lorem Ipsum</p>
                          <sub>
                            Last run on<br />
                            Tuesday, September 28, 2021 1:00pm by username
                          </sub>
                        </mat-card-content>
                      </div>
                      <div class="col-4">
                        <button mat-stroked-button color="primary">Run Report</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="fullwidthbutton" mat-stroked-button color="primary">Go to Reports ></button>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-4">
          <mat-card>
            <mat-card-title> Activity Log </mat-card-title>
            <div>
              <div class="cardlistitem">
                <div class="row">
                  <div class="col-1">
                    <div class="listicon">
                      <img src="../../assets/add.svg" alt="added item" />
                    </div>
                  </div>
                  <div class="col-8">
                    <mat-card-content>
                      <h3>New File Added</h3>
                      <p>New File Added Description Lorem Ipsum Lorem Ipsum</p>
                      <sub>
                        New File Added on<br />
                        Tuesday, September 28, 2021 1:00pm by username
                      </sub>
                    </mat-card-content>
                  </div>
                  <div class="col-3"></div>
                </div>
              </div>
            </div>
            <button class="fullwidthbutton" mat-stroked-button color="primary">Go to Activity Log ></button>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
